:host {
  display: block;
}

.bg-purple {
  background-color: #542ca7 !important; /* o cualquier otro estilo de Bootstrap */
}

.bg-password-image {
  background: url("https://source.unsplash.com/Mv9hjnEUHR4/600x800");
  background-position: center;
  background-size: cover;
}
