<div class="bg-gradient-primary">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="card h-100">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                  <div class="col-lg-6">
                    <div class="auth-header">
                      <h2 class="text-secondary text-center mt-2"><b>Cambiar Password</b></h2>
                    </div>
                    <form [formGroup]="passChangeForm" (ngSubmit)="resetPassword()">
                      <mat-form-field class="col-12 mb-3">
                        <mat-label>password</mat-label>
                        <input type="password" matInput formControlName="password" placeholder="Password..." />
                        <mat-error customLabel *ngIf="isValidField('password')" [errors]="passChangeForm.get('password')?.errors">
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="col-12 mb-3">
                        <mat-label>Confirmar password</mat-label>
                        <input type="password" matInput formControlName="passwordConfirm" placeholder="Confirmar password.." />
                        <mat-error
                          customLabel
                          *ngIf="isValidField('passwordConfirm')"
                          [errors]="passChangeForm.get('passwordConfirm')?.errors"
                        >
                        </mat-error>
                      </mat-form-field>
                      <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-secondary" [disabled]="passChangeForm.invalid"> Restablecer </button>
                      </div>
                    </form>
                  </div>
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
