<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a [routerLink]="['/']" class="d-flex justify-content-center">
            <img src="assets/images/logo-dark.svg" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Cambiar Password</b></h2>
              </div>
            </div>
          </div>
          <form [formGroup]="passChangeForm" (ngSubmit)="passChange()">
            <mat-form-field class="col-12 mb-3">
              <mat-label>password</mat-label>
              <input type="password" matInput formControlName="password" placeholder="Password..." />
              <mat-error customLabel *ngIf="isValidField('password')" [errors]="passChangeForm.get('password')?.errors"> </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12 mb-3">
              <mat-label>Confirmar password</mat-label>
              <input type="password" matInput formControlName="passwordConfirm" placeholder="Confirmar password.." />
              <mat-error customLabel *ngIf="isValidField('passwordConfirm')" [errors]="passChangeForm.get('passwordConfirm')?.errors">
              </mat-error>
            </mat-form-field>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary" [disabled]="passChangeForm.invalid"> Restablecer </button>
            </div>
          </form>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
