<h1 mat-dialog-title>Editar el alojamiento</h1>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="editAccomodationForm" (ngSubmit)="editContent()" autocomplete="off">
        <mat-form-field class="col-12">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" required formControlName="nombreAlojamiento" />
          <mat-error customLabel *ngIf="isValidField('nombreAlojamiento')" [errors]="editAccomodationForm.get('nombreAlojamiento')?.errors">
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-12">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion"></textarea>
          <mat-error customLabel *ngIf="isValidField('descripcion')" [errors]="editAccomodationForm.get('descripcion')?.errors">
          </mat-error>
        </mat-form-field>

        <div class="row">
          <mat-form-field class="col-md-4">
            <mat-label>Capacidad</mat-label>
            <input type="number" matInput formControlName="capacidad" />
            <mat-error customLabel *ngIf="isValidField('capacidad')" [errors]="editAccomodationForm.get('capacidad')?.errors"> </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <mat-label>Ciudad</mat-label>
            <input type="text" matInput formControlName="ciudad" />
            <mat-error customLabel *ngIf="isValidField('ciudad')" [errors]="editAccomodationForm.get('ciudad')?.errors"> </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <mat-label>Tipo de alojamiento</mat-label>
            <mat-select required formControlName="idTipoAlojamiento">
              <mat-option *ngFor="let type of accommodationTypes" [value]="type.idTipoAlojamiento">
                {{ type.nombreTipoAlojamiento }}
              </mat-option>
            </mat-select>
            <mat-error customLabel *ngIf="isValidField('idTipoAlojamiento')" [errors]="editAccomodationForm.get('idTipoAlojamiento')?.errors">
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mt-3">
          <input type="file" formControlName="imagen" (change)="chargeImgFile($event)"/>
        </div>

        <section class="d-flex justify-content-evenly"></section>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cerrar</button>
  <button mat-button [mat-dialog-close]="editAccomodationForm.value" [disabled]="editAccomodationForm.invalid" color="primary" (click)="editContent()">Editar</button>
</mat-dialog-actions>
