<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="card-body">
            <a href="javascript:" class="d-flex justify-content-center mt-3" [routerLink]="['/']">
              <img src="assets/images/logo-dark.svg" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>Regístrate</b></h2>
                  <p class="fs-4 mt-2">Introduce tus credenciais</p>
                </div>
              </div>
            </div>
            <h5 class="my-4 d-flex justify-content-center"> Regístrate con tu correo electrónico y usuario </h5>
            <div class="row">
              <mat-form-field class="col-md-6 mb-3">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput formControlName="nombre" placeholder="Nombre..." />
                <mat-error customLabel *ngIf="isValidField('nombre')" [errors]="registerForm.get('nombre')?.errors"></mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-6 mb-3">
                <mat-label>Apellidos</mat-label>
                <input type="text" matInput formControlName="apellidos" placeholder="Apellidos..." />
                <mat-error customLabel *ngIf="isValidField('apellidos')" [errors]="registerForm.get('apellidos')?.errors"></mat-error>
              </mat-form-field>
            </div>
            <mat-form-field class="col-12 mb-3">
              <mat-label>Correo electrónico</mat-label>
              <input type="email" matInput formControlName="email" placeholder="name@example.com" />
              <mat-error customLabel *ngIf="isValidField('email')" [errors]="registerForm.get('email')?.errors"></mat-error>
            </mat-form-field>
            <mat-form-field class="col-12 mb-3">
              <mat-label>Confirmar correo electrónico</mat-label>
              <input type="email" matInput formControlName="email2" placeholder="name@example.com" />
              <mat-error customLabel *ngIf="isValidField('email2')" [errors]="registerForm.get('email2')?.errors"></mat-error>
            </mat-form-field>
            <div class="row">
              <mat-form-field class="col-md-6 mb-3">
                <mat-label>password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Contraseña..." />
                <mat-error customLabel *ngIf="isValidField('password')" [errors]="registerForm.get('password')?.errors"> </mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-6 mb-3">
                <mat-label>Confirmar password</mat-label>
                <input type="password" matInput formControlName="password2" placeholder="Contraseña..." />
                <mat-error customLabel *ngIf="isValidField('password2')" [errors]="registerForm.get('password2')?.errors"> </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field class="col-12 mb-3">
              <mat-label>Tipo de Usuario</mat-label>
              <mat-select matInput formControlName="tipoUsuario">
                <mat-option value="1" selected>Cliente</mat-option>
                <mat-option value="2">Empresa</mat-option>
              </mat-select>
              <mat-error customLabel *ngIf="isValidField('tipoUsuario')" [errors]="registerForm.get('tipoUsuario')?.errors"> </mat-error>
            </mat-form-field>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary p-2" [disabled]="registerForm.invalid">Regístrate</button>
            </div>
            <hr />
            <h5 class="d-flex justify-content-center">
              <a [routerLink]="['/auth/login']"> ¿Ya tienes una cuenta? </a>
            </h5>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
