<div class="container pb-5">
  <div class="row mt-3">
    <div class="col-6" align="center">
      <h2>{{ accommodation?.nombreAlojamiento }}</h2>
      <mat-card-subtitle>
        <i class="bi bi-pin-map"></i>
        {{ accommodation?.ciudad }}
      </mat-card-subtitle>
      <br>
      <mat-card-subtitle>
        <i class="bi bi-geo-alt"></i>
        {{ accommodation?.direccion }}
      </mat-card-subtitle>
    </div>
    <div class="col-6" align="center">
      <button mat-fab extended color="primary">
        <i class="bi bi-calendar-plus"></i>
        Reservar ahora
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12" align="center">
      <img
        class="img-fluid rounded"
        [src]="apiUrl + '/' + 'images/' + accommodation?.imagen"
        alt="{{ accommodation?.nombreAlojamiento }}"
      />
    </div>
  </div>

  <!-- Carousel de habitaciones para pantalla (móvil) -->
  <div class="d-md-none">
    <div class="row mt-3">
      <div class="col-12" align="center">
        <div id="carouselRoom" class="carousel slide" style="max-width: 500px;">
          <div class="carousel-inner">
            <div *ngFor="let room of rooms; let i = index" class="carousel-item" [class.active]="i === 0">
              <img
                class="d-block w-100 cursor-pointer"
                [src]="apiUrl + '/images/' + room.imagen"
                [alt]="room.nombreHabitacion"
                (click)="showImage(room.imagen)"/>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoom" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselRoom" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel de habitaciones para pantalla grande -->
  <div class="d-none d-md-block">
    <div class="row mt-3">
      <div class="col-12" align="center">
        <div id="carouselRoomLarge" class="carousel slide">
          <div class="carousel-inner">
            <!-- Itera sobre subconjuntos de habitaciones de tamaño 4 -->
            <ng-container *ngFor="let chunk of rooms | chunk: 4; let i = index">
              <div class="carousel-item" [class.active]="i === 0">
                <!-- Itera sobre las habitaciones en el subconjunto actual -->
                <div class="row">
                  <div class="col-md-3 col-sm-6" *ngFor="let room of chunk">
                    <!-- Aplica estilos personalizados a las imágenes -->
                    <img
                      class="d-block w-100 cursor-pointer"
                      [src]="apiUrl + '/images/' + room.imagen"
                      [alt]="room.nombreHabitacion"
                      (click)="showImage(room.imagen)"/>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomLarge" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselRoomLarge" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6" align="center">
      <p>{{ accommodation?.descripcion }}</p>
    </div>
    <div class="col-6">
      <mat-card class="bg-card">
        <mat-card-header>
          <mat-card-title class="p-1">Tipos de habitaciones</mat-card-title>
        </mat-card-header>
        <mat-card-content class="my-3">
          <mat-list>
            <mat-list-item *ngFor="let roomType of roomTypesOfAccommodation">{{ roomType?.nombreTipoHabitacion }}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mt-5">
    <form [formGroup]="availableRoomsForm" class="row" (ngSubmit)="searchDates()">
      <div class="col-6" align="center">
        <mat-form-field class="example-form-field">
          <mat-label>Disponibilidad</mat-label>
          <mat-date-range-input
            [formGroup]="availableRoomsForm"
            [rangePicker]="campaignOnePicker">
            <input matStartDate placeholder="Fecha de inicio" formControlName="fechaInicio">
            <input matEndDate placeholder="Fecha de fin" formControlName="fechaFin">
          </mat-date-range-input>
          <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-6">
        <button mat-fab extended [disabled]="availableRoomsForm.invalid" color="primary">
          <i class="bi bi-search"></i>
          Realizar búsqueda
        </button>
      </div>
    </form>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <mat-paginator
        class="border-b"
        [pageSizeOptions]="[10, 25, 50, 100]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
      <div class="bg-white" style="height: 24px;">&nbsp;</div>
    </div>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #empTbSort="matSort" matSortActive="" matSortDirection="asc">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef" >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{column.header }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="!column.iconoTd">
            {{column.cell(row)}}
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>
