:host {
  display: block;
}

mat-paginator{
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  background-color: rgba(0, 0, 0, 0.02);
}

.cursor-pointer {
  cursor: pointer;
}

.bg-card {
  background-color: #ffffff;
}

::ng-deep .input-blanco .mat-mdc-text-field-wrapper  {
  background-color: white !important;
}

.bg-button-purple {
  background-color: #542ca7;
}

.bg-button-blue {
  background-color: #1c76da;
}

.txt-purple {
  color: #542ca7;
}
